
body {
    background:wheat;
    position: relative;
    
}
h1 {
    text-align: center;
    color: rgb(45, 68, 172); 
    margin-bottom: 30px;  
    font-size: larger;
}
#buttons {
    
    display: flex; 
    justify-content:center; 
    background: brown;
}
.button {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
    margin: 40px;
    background: turquoise;
    font-weight: 700;
    transition: all .2s ease-in;
}
.button:hover {
    background: yellow;
    transform: scaleX(1.5);
}
#reset {
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 10px;
    width: 100px;
    font-weight: 700;
    background: turquoise;
    border-radius: 10px;
    transition: all .2s ease-in;
}
#reset:hover {
    transform: scale(1.2);
    background: yellow;
}

#game {
    text-align: center;    
}

#players, #scores, #choices,#result {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 10px;
}
#result {
    max-width: 300px;
    margin-left: 550px;
    
}

